<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @alumno.nombre %>
</p>

<p>
  <strong>Numero control:</strong>
  <%= @alumno.numero_control %>
</p>

<p>
  <strong>Carrera:</strong>
  <%= @alumno.carrera %>
</p>

<p>
  <strong>Anio ingreso:</strong>
  <%= @alumno.anio_ingreso %>
</p>

<%= link_to 'Edit', edit_alumno_path(@alumno), class:'button radius default' %> |
<%= link_to 'Back', alumnos_path, class:'button radius secondary' %>
