<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @auto.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @auto.modelo %>
</p>

<p>
  <strong>Año:</strong>
  <%= @auto.anio %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @auto.precio %>
</p>

<p>
  <strong>Fecha adquisicion:</strong>
  <%= @auto.fecha_adquisicion %>
</p>

<%= link_to 'Editar', edit_auto_path(@auto), class:'button radius warning' %> |
<%= link_to 'Regresar', autos_path,class:'button radius secondary' %>
